@model List<BookManagementSystem_MVC_14042024.Models.PublisherModel>

@* Data strored inside the Model Property*@




@section head{
    <style>
        .ImageIcons {
            height: 25px;
            width: 25px;
        }
    </style>
}


<div class="row">
    <div class="col-6 offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Registration Number</th>
                    <th>Publication Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RegistrationId</td>
                        <td>@item.PublisherName</td>
                        <td>
                            <a href="/Publisher/Edit/@item.PublisherId">
                                <img src="~/Content/Icons/edit.png" class="ImageIcons" />
                            </a>
                            <img src="~/Content/Icons/delete.jpg" class="ImageIcons" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

